.workspaces button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-width: 0;
  color: @theme_unfocused_fg_color;
  background-color: transparent;
}

.workspaces button:hover {
  background-color: @theme_unfocused_fg_color;
  color: @theme_fg_color;
}

.workspaces {
  border-radius: 11px;
  border-width: 1px;
  border-style: solid;
  border-color: @borders;
  padding: 5px;
  background-color: @theme_base_color;
}

.workspaces button.focused {
  color: @theme_fg_color;
}